/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
--                       Yatzy - DIP-project                         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
--       Copyright 2018 Flemming Pedersen & Christian Petersen       --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
:root {
  --button-radius: 10px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

button.diceBox {
  width: 90px;
  height: 90px;
  background-size: 100%;
  background-image: url("dice-pictures/die6.png");
  border-radius: var(--button-radius);
  margin-right: 10px;
  border-width: 8px;
}

button.scoreSelect[locked="true"] {
  background-image: url("dice-pictures/coins.svg");
}

button:disabled {
  filter: invert(0.7);
  filter: blur(0.1)
}

button.diceBox.locked {
  filter: invert(1);
}

button.diceBox:last-child {
  margin-right: 0px;
}

button[value="1"] {
  background-image: url("dice-pictures/die1.png");
}

button[value="2"] {
  background-image: url("dice-pictures/die2.png");
}

button[value="3"] {
  background-image: url("dice-pictures/die3.png");
}

button[value="4"] {
  background-image: url("dice-pictures/die4.png");
}

button[value="5"] {
  background-image: url("dice-pictures/die5.png");
}

button[value="6"] {
  background-image: url("dice-pictures/die6.png");
}

button.diceBox.selected {
  border: lightskyblue;
}

button:focus {
  outline: 0;
}

div.container {
  border: 2px black solid;
  border-radius: 25px 25px 0 0;
  padding: 10px;
}

div.borderDiv {
  border-radius: 0 0 25px 25px;
  border: 2px black solid;
  margin-top: -2px;
}

div.scoreboard {
  display: table;
  width: 100%;
}

div.boardRow,
div.boardHead {
  display: table-row;
}

div.boardCell,
div.cellHead {
  display: table-cell;
  height: 100%;
}

div.boardCell:first-child {
  padding-left: 25px;
}

div.yatzyGame {
  width: initial;
  display: inline-block;
}

div.score p,
div.cellHead {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

button.scoreSelect {
  background-image: url("dice-pictures/receive-money.svg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--button-radius);
  height: 20px;
  width: 100%;
}

div.boardRow div.boardCell {
  padding-top: 2px;
  height: 25px;
}

div.cellHead {
  border-bottom: 6px double black;
}

button.diceRoller {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("dice-pictures/diceRoller.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 90px;
  border-radius: var(--button-radius);
  display: block;
}