/* -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
--                       Yatzy - DIP-project                         --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
--       Copyright 2018 Flemming Pedersen & Christian Petersen       --
-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fcfcfc;
    margin: auto;
    padding: 20px;
    border: 12px double;
    width: 50%;
    border-radius: 25px 0 25px 0;
    font-family: 'Courier New', Courier, monospace;
}

div.scoreTitle {
    background-color: lavender;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 0 10px 0;
    margin-top: 37px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}